.addBtn{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 12;
    background: rgba(221, 251, 250, 1);
    border-radius: 50px;
    filter: drop-shadow(1px 14px 14px rgba(10, 98, 96, 0.11));
    padding: 10px;
    margin-bottom: 100px;
    margin-right: 25px;
}