@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$Encode: 'Encode Sans', sans-serif;
$Noto: 'Noto Sans', sans-serif;

$text-28: 2.8rem;
$text-22: 2.2rem;
$text-20: 2.0rem;
$text-18: 1.8rem;
$text-16: 1.6rem;
$text-14: 1.4rem;
$text-12: 1.2rem;
$text-10: 1.0rem;
$text-8: 0.8rem;

button, h1, h2, h3, h4, h5, h6, a, p, li {
    transition: font-size 0.3s ease-out;
}

h1, h2, h3 {
    font-family: $Encode;
    font-weight: 700;
    color: #142546;
}   

h2 {
    font-size: $text-16;
}

h3 {
    font-size: $text-14;
}

input {
    font-size: $text-10;
}

textarea{
    font-size: $text-10;
}

p, h4, h5, h6, a, label, button {
    font-family: $Noto;
}