@media (max-width: 576px) {
    .NavBar{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        position: fixed;
        bottom: 0;
        background: #F4FBFB;
        padding: 20px;

        &__home{
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
    
            img{
                width: 22px;
            }
        }

        &__notifications{
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;

            img{
                width: 22px;
            }
        }
        &__classes{
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;

            img{
                width: 22px;
            }
        }
        &__profile{
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;

            img{
                width: 22px;
            }
        }
    }
}