*, *:before, *:after{
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

footer, header, nav, section, main{
    display: block;
}

body{
    line-height: 1;
}

ol, ul{
    list-style: none;
}

blockquote, q{
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after{
    content: '';
    content: none;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

input{
    -webkit-appearance: none;
    border-radius: 0;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
}

body{
    background-color: #F4FBFB;
}


.root{
    height: 100vh;
}

@import './styles/typography';
@import './components/Begin/Begin';
@import './components/Login/Login';
@import './components/NavBar/NavBar';
@import './components/Register/register';
@import './components/Home/home';
@import './components/Course/course';
@import './components/CreateCourse/createCourse';
@import './components/CourseDetails/courseDetails';
@import './components/Buttons/AddButton/addButton';
@import './components/AddElementView/addElementView';
@import './components/CourseDetails/Content/content';
@import './components/CourseDetails/Homework/homework';
@import './components/CourseDetails/Homework/Task/_task';
@import './components/CourseDetails/Participants/participants';
@import './components/CourseDetails/Participants/CardParticipant/cardParticipant';
@import './components/CreateHomework/createHomework';
@import './styles/input';
@import './styles/buttons';
@import './styles/reset';
